[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=user
WorkingDirectory=/home/mihailbondarev/app
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target